body {
  background-color: #eeede8;
}

.builds {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.build {
  display: flex;
  width: 270px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #fefefe;
  height: 130px;
  text-align: left;
}

.build .icon {
  background-color: #fefefe;
  padding: 1px;
  border-radius: 10px;
  text-align: center;
  font-size: 10px;
}

.build .details {
  font-size: 12px;
  font-family: 'Fira Mono', monospace;
  color: #5d5d5b;
  padding: 10px;
  padding-top: 10px;
  overflow: hidden;
  width: 245px;
}

.build .status {
  padding-top: 10px;
  width: 25px;
  text-align: center;
  color: #fefefe;
  font-size: 16px;
}

.build .subject {
  height: 33px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.build .title a {
  padding-left: 5px
}

.user {
  font-size: 11px;
}

.user img {
  border-radius: 20px;
  padding-right: 5px;
}

.build .status-success {
  background-color: #41ab5e;
}

.build .status-info {
  background-color: #b9bcbf;
}

.build .status-warning{
  background-color: #d2c830;
}

.buildNumber a {
  padding-right: 5px;
}

.revision {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rebuild {
  margin-top: 20px;
}

.rebuildButton {
  cursor: pointer;
}

.rebuildButtonSpin {
  animation: BuildSpin infinite 10s linear;
}

@keyframes BuildSpin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

